/*
https://mdbootstrap.com/docs/b4/jquery/css/colors/
*/

.btn-primary {
    background-color: #0d47a1;
}

.btn-info {
    background-color: #4285F4;
}

.btn-success {
    background-color: #00C851;
}

.btn-ce {
    background-color: #FF8800;
}

.btn-ac {
    background-color: #CC0000;
}

a {
    text-decoration: none;
}
